MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DB=

SIGNER_KEY=change-me-to-at-least-64-ascii-characters-for-hs512-token-signing

SMTP_MAIL_USERNAME=
SMTP_MAIL_PASSWORD=

OWNER_EMAIL=
OWNER_FULL_NAME=
OWNER_PHONE=
OWNER_PASSWORD=

REDIRECT_DEFAULT_URI=

REDIS_HOST=
REDIS_PORT=

INTERNAL_STORAGE_PATH=
TEMP_PATH=
DOWNLOAD_PREFIX=


PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=
PAYOS_CANCEL_URL=
