MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DB=

REDIS_HOST=
REDIS_PORT=

SIGNER_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

REDIRECT_DEFAULT_URI=


INTERNAL_STORAGE_PATH=
TEMP_PATH=
DOWNLOAD_PREFIX=

VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=